__pycache__/
*.py[cod]
*.swp
.\#*
*\#

# Copied static files
static_files/

# Translations
*.mo
*.pot

# Django Stuff
db.sqlite3
*.log

# IDE specific
.idea

# Frontend
node_modules
booking/static/bundles
webpack-stats.json