[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
django = "==2.2.2"
django-reversion = "==3.0.4"
django-extensions = "==2.1.9"
docutils = "==0.14"
djangorestframework = ">=3.9.1"
django-webpack-loader = "==0.6.0"
gunicorn = "*"
django-heroku = "*"
